<% content_for :title, "Editar Cliente" %>

<h1 class="text-center my-4">Editar Cliente</h1>

<!-- Renderizamos el formulario de cliente -->
<%= render "form", cliente: @cliente %>

<div class="text-center mt-4">
  <!-- Botón para mostrar el cliente -->
  <%= link_to cliente_path(@cliente), class: 'btn btn-info me-2' do %>
    <i class="fas fa-eye"></i> Ver Cliente
  <% end %>

  <!-- Botón para volver a la lista de clientes -->
  <%= link_to clientes_path, class: 'btn btn-secondary' do %>
    <i class="fas fa-arrow-left"></i> Volver a Clientes
  <% end %>
</div>
