<% content_for :title, "Clientes" %>
<h1 class="display-4 text-center mb-4">Clientes</h1>
<div id="clientes" class="row">
  <% @clientes.each do |cliente| %>
    <div class="col-md-4">
      <%= render cliente %>
    </div>
  <% end %>
</div>
