<% content_for :title, "Editing pelicula" %>

<h1>Editing pelicula</h1>

<%= render "form", pelicula: @pelicula %>

<br>

<div>
  <%= link_to "Show this pelicula", @pelicula %> |
  <%= link_to "Back to peliculas", peliculas_path %>
</div>
