<% content_for :title, "Nueva Película" %>

<!-- Título centrado -->
<h1 class="text-center my-4">Nueva Película</h1>

<!-- Renderizamos el formulario de la película -->
<%= render "form", pelicula: @pelicula %>

<!-- Botón para volver a la lista de películas -->
<div class="text-center mt-4">
  <%= link_to peliculas_path, class: 'btn btn-secondary d-inline-flex align-items-center' do %>
    <i class="fas fa-arrow-left me-2"></i> Volver a Películas
  <% end %>
</div>
